{% extends "base.html" %}

{% block content %}
<div class="Content">
    <div id="LOGOCHAT" class="LOGOCHAT">CONTACT US 👨‍⚕️</div>
    <div class="Contact-TitleA">Address
        <div class="Contac-InnerText">
            178/1, Colaba, South Mumbai, Maharastra, India - 400005
        </div>
    </div>
    <div class="Contact-TitleA">Phone
        <div class="Contac-InnerText">
            +91 91876-78564
        </div>
    </div>
    <div class="Contact-TitleA">Email
        <div class="Contac-InnerText">
            MEENAAKHLESH786@GMAIL.COM
        </div>
    </div>
</div>
{% endblock %}