{% extends "base.html" %}

{% block content %}
<div class="Content">
    <div id="LOGOCHAT" class="LOGOCHAT">INDIAN 💬 CHAT</div>
    <div class="Username">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
    </div>
    <div class="Password">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <div class="Submit">
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <button type="submit">Login</button>
    </div>
  </div>
{% endblock %}